*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
    margin: 0;
    width:100% ;
}
ul.header{
    list-style: none;
    margin: 20px;
    padding:0px;
    width:  100%; 
   
}
li{
    display:inline-table ;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
}
li.menu-item{
    position: relative;
    bottom: 25px;
    left:50px;
}
li.image1{
    width: 10%;
}
a{
    color:#333;
    text-decoration: none; 
    font-weight: lighter;
}
a:hover{
 text-decoration: underline;

}
.stretch{
    width:90%;
}
div.container{
    width: 100%;
    position: relative; 
}
div.image2{
    margin-right: 20px;
    margin-left: 30px;
    position: relative;
    right:10px ;
    top:5px;
}
.main1 img{
    width: 90%;
}
.main1{
    margin-left:10px;
    position: relative;
    bottom: 12px;
}
.main2{
    background-color: white;
    padding-bottom: 5px;
    height:130px;
    width: 56%;
    position: absolute;
    left: 245px;
    bottom: 34px;
}
.main{
    font-family:sans-serif;
    color:#35733c;
    font-weight:lighter;
    font-size: 33px;
    position: relative;
    left: 100px;
    top: 20px;
    
}
.sub{
    color:#333;
    font-size: 28px;
    font-weight: lighter;
    position: relative;
    left:200px;
    top: 30px;
}
div.circle{
    width: 120px;
    height:120px ;
    background: rgb(233, 78, 15);
    border:none;
    border-radius: 50%;
    text-align: center ;
    font-size: 35px;
    padding-top: 30px;
    position: absolute;
    bottom: 12px;
    left:927px;
} 
.circle a{
    color: white;
    font-family:Great vibes;
}
div.main3{
    width: 100%;
    background-color: #35733c;
    color:white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 15px;
    height:90px ;
    margin-right: 80px;
    margin-left: 50px;
    position: relative;
    bottom: 18px;
    right:50px;
}
.main3 p{
    position: relative;
    top: 20px;
}
.M{
    float: right;
    position: relative; 
    bottom: 100px;
    right:160px;

}
#test1{
    width: 100%;
    color: white;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:  #363636;
    padding:40px;
    height:250px;
    position: relative;
    bottom: 30px;   
}
#test1 h3{
    position: relative;
    top:30px;
}
.img1{
    position: absolute; 
    bottom: 10px;
    left:2px ;
}
.img2{
    position: absolute; 
    bottom: 35px;
    left:1000px;
}
.grid{
    background-color: white;
    display: grid;
    line-height: 30px;
    width: 100%;
    margin-left: 10px;
    margin-right: 50px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    position: relative;
    right:10px ;
    bottom: 35px;
}
#test2{
    width: 100%;
    color: white;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:  #363636;
    padding:40px;
    height:250px;
    position: relative;
    bottom: 25px;
    
}
#test2 h3{
    position: relative;
    top:30px;
}
.img1{
    position: absolute; 
    bottom: 10px;
    left:8px ;
}
.img2{
    position: absolute; 
    bottom: 35px;
    left:1200px;
}
.blue{
    background-color: rgb(122, 183, 188);
    color: #59595a;
    height: 394px;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
    position: relative;
    bottom: 35px;
}
.blue h3{
 font-size: 30px;
 line-height: 30px;
 position: relative;
 top:65px;

}
.blue p{
    margin-left: 200px;
    margin-right:200px;
    line-height: 22.85px;
    position: relative;
    top:70px;
}
.white{
    color: white;
    padding: 40px;
    position: relative;
    top:60px;
}
div.circle1{
    width: 120px;
    height:120px ;
    background: rgb(233, 78, 15);
    border:none;
    border-radius: 50%;
    text-align: center ;
    padding-top: 30px;
    position: relative;
    bottom: 390px;
    left:1030px;
} 
div.circle2{
    color: white; 
    width: 120px;
    height:120px ;
    background: rgb(233, 78, 15);
    border:none;
    border-radius: 50%;
    text-align: center ;
    font-size: 35px;
    padding-top: 30px;
    position: relative;
    bottom: 300px;
    left:1030px;
}
 h5{
    color: white;
    font-family:Great vibes;
    font-size: 35px;
    text-align: center;
    
}
.box-container{
    background-color: white;
    font-family: #333;
    line-height: 30px;
    width: 100%;
    margin-left: 10px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    right:10px ;
    bottom:275px;

}
.box1{
    position: relative;
     left:10px;
}
.box2{
    position: relative;
    top:30px;
    left:20px ;
}
.box4{
    position: relative;
    bottom: 9px;
     left:5px;
}
.box5{
width: 100%;
font-family:Great vibes;
font-size: 32px;
color: #333;
text-align: center;
padding: 40px;
position: relative;
bottom: 290px;
}
.box6{
    font-family:sans-serif;
    font-size: 25px;
    color: #35733c;;
    text-align: center;
    padding:40px;
    position: relative;
    bottom:310px;   
}
.box7 {
    width:100%;
    color: #333;
    display: flex;
    flex: 1; 
    position: relative;
    bottom: 290px;
}
.box7 p{
    margin-left:20px;
    position: relative;
    top:30px;

}
.box7 img{
 width: 40%;
 height:40% ;
 margin-left: 40px;
 margin-right: 20px;
}
.box8{
    width: 100%;
    position: relative;
    bottom: 200px;
    display: flex;
    flex-wrap: wrap;
}
.box9{
    width:100%;
    height:500px ;
    color: #fff;
    font-size: 16px;
    border:solid;
    background-color: #35733c;
     padding: 50px;
    position: relative;
    bottom: 150px;
    display: flex;
}
.item{
    margin-right:10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
}
h4{
    color: #fff;
    padding: 5px;
    font-size: 20px;
}
.item a{
    color: #fff;
    padding: 5px;
    font-weight: lighter;
    
}
button{
    width:50%;
    padding: 10px;
    margin: 10px;
    background-color: #35733c;
    border: solid, white;
    color: white;
    font-size: 14px;
    flex-wrap:nowrap;
}
button:hover{
    cursor: pointer;
}
.contact{
    padding: 20px;
    position: relative;
    bottom: 120px;
    display: flex;
}
.flex-item{
    flex:1;
   flex-wrap: nowrap;
   justify-content: space-between;
}
@media and screen


.slide-container{
    overflow: hidden;
    height:570px ;
}
.slide-container figure div{
    width: 20%;
    float: left;

}
.slide-container figure img{
    widows: 100%;
    float: left;

}
.slide-container figure{
    position: relative;
    width: 700px;
    margin:0;
    left:0;
    animation: 60s slidy slide-out right;
}
@keyframes slidy{
    0%{
        left:0%;
    }
    10%{
        left:0% ;
    }
    12%{
        left: -100%;
    }
    22% {
        left:-100%;
    }
    24%{
        left:-200% ;
    }
}